[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.115.0"
uvicorn = "==0.34.0"
numpy = "==1.26.4"
gradio-client = "==1.5.0"
python-multipart = "==0.0.18"
pyjwt = "==2.10.1"

[dev-packages]
pytest = "==8.3.4"
pytest-cov = "==6.0.0"
flake8 = "==7.1.2"
black = "==25.1.0"
pre-commit = "==4.1.0"
ipykernel = "*"
pillow = "==11.1.0"

[requires]
python_version = "3.12.9"

[scripts]
hook = "pre-commit install"
format = "pre-commit run --all-files"
test = "pytest ./tests -rA --doctest-modules --junitxml=pytest-report.xml --cov=. --cov-report=html --cov-report term-missing"
build = "bash -c 'python setup.py clean --all && python setup.py bdist_wheel'"
publish = "twine upload dist/*"
api = "uvicorn app.main:app --host 0.0.0.0 --port 8080 --reload"
